---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo-server
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "argo-workflows.labels" . | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "argo-workflows.labels" . | nindent 4 }}
