server:
  replicaCount: 1
  image:
    repository: quay.io/argoproj/argocli
    tag: v3.5.5
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 2746
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "256Mi"

controller:
  replicaCount: 1
  image:
    repository: quay.io/argoproj/workflow-controller
    tag: v3.5.5
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "256Mi"

executor:
  image:
    repository: quay.io/argoproj/argoexec
    tag: v3.5.5
