replicaCount: 2
image:
  repository: ghcr.io/berriai/litellm
  tag: main-latest
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 4000
resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "1000m"
    memory: "512Mi"
openaiKey: ""
masterKey: ""
models: []
